@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
body {
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
}

.site-wrapper {
  background-image: url(images/office-workers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: scroll;
}

.logo {
  padding: 3rem;
  color: #fff;
}

.form-container {
  width: 30rem;
  height: auto;
  margin: 5rem auto;
  padding: 2rem;
  border: 1px solid #eee;
  border-radius: 0.6rem;
  background-color: #fff;
}

@media only screen and (max-width: 425px) {
  .form-container {
    width: 20rem;
  }
}

@media only screen and (max-width: 414px) {
  .form-container {
    width: 20rem;
  }
}

@media only screen and (max-width: 400px) {
  .form-container {
    width: 15rem;
    text-align: center;
  }
}

.form {
  text-align: center;
}

.form a:link,
.form a:active {
  color: #24798f;
}

.form a:visited {
  color: #a8a8a8;
}

.form a:hover {
  color: #585858;
}

.form__heading {
  margin-bottom: 0.8rem;
}

.form__subheading {
  margin-top: 0;
  font-size: 1.2rem;
}

.form__firstName {
  margin: 1rem 0.5rem 0.5rem 0;
  padding: 0.8rem;
  width: 40%;
  border-radius: 0.6rem;
}

.form__lastName {
  margin: 1rem 0 0.5rem 0.5rem;
  padding: 0.8rem;
  width: 40%;
  border-radius: 0.6rem;
}

.form__email {
  width: 89%;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
}

.form__password {
  width: 89%;
  padding: 0.8rem;
  margin: 0.5rem;
  border-radius: 0.6rem;
}

.form__signUp-btn {
  width: 80%;
  padding: 1rem;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.6rem;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#24798f), to(#3cb9d8));
  background-image: linear-gradient(to bottom right, #24798f, #3cb9d8);
  color: #fff;
  font-weight: bold;
}

.form__terms, .form__privacy {
  text-decoration: none;
  font-weight: bold;
}

.form__login-link {
  text-decoration: none;
  font-weight: bold;
}

@media only screen and (max-width: 425px) {
  .form .form__firstName, .form .form__lastName, .form .form__email, .form .form__password {
    width: 85%;
  }
  .form .form__firstName, .form .form__lastName {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .form .form__firstName, .form .form__lastName, .form .form__email, .form .form__password {
    width: 85%;
  }
  .form .form__firstName, .form .form__lastName {
    margin: 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  .form__heading {
    font-size: 1.2rem;
  }
  .form__subheading, .form__finePrint, .form__login-text {
    font-size: 0.8rem;
  }
  .form__firstName, .form__lastName, .form__email, .form__password {
    width: 50%;
  }
  .form__firstName, .form__lastName {
    margin: 0.5rem;
  }
  .form__signUp-btn {
    font-size: 0.75rem;
    padding: 0.5rem;
  }
}

.footer {
  text-align: center;
  color: #fff;
  font-weight: bold;
}

.footer__links {
  list-style: none;
  display: block;
}

.footer__link-item {
  display: inline;
  padding: 1rem 0.5rem;
}

.footer__link-item a:link,
.footer__link-item a:active {
  color: #fff;
  text-decoration: none;
}

.footer__link-item a:visited {
  color: #ddd;
}

.footer__link-item a:hover {
  color: #eee;
}

.footer__copyright, .footer__design-credit, .footer__background-img {
  padding: 1rem 0.5rem;
}

.footer__design-credit a:link,
.footer__design-credit a:active, .footer__background-img a:link,
.footer__background-img a:active {
  color: #fff;
  text-decoration: none;
}

.footer__design-credit a:visited, .footer__background-img a:visited {
  color: #ddd;
}

.footer__design-credit a:hover, .footer__background-img a:hover {
  color: #ddd;
}

@media only screen and (max-width: 425px) {
  .footer__links {
    padding: 0.5rem;
  }
  .footer__credit {
    padding: 0.5rem;
  }
}

@media only screen and (max-width: 414px) {
  .footer__links, .footer__copyright, .footer__design-credit, .footer__background-img {
    padding: 0;
  }
}

@media only screen and (max-width: 400px) {
  .footer {
    font-size: 0.8rem;
  }
  .footer__links, .footer__copyright, .footer__design-credit, .footer__background-img {
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */