// * {
//   outline: 1px solid red;
// }

// Logo
.logo {
  padding: 1rem;
}

// Form
.form-container {
  width: 30rem;
  height: auto;
  margin: 5rem auto;
}

.form {
  text-align: center;

  &__firstName {
    margin: 1rem 0.5rem 0.5rem 0;
    padding: 0.5rem;
    width: 40%;
  }

  &__lastName {
    margin: 1rem 0 0.5rem 0.5rem;
    padding: 0.5rem;
    width: 40%;
  }

  &__email {
    width: 89%;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  &__password {
    width: 89%;
    padding: 0.5rem;
    margin: 0.5rem;
  }

  &__signUp-btn {
    width: 80%;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.6rem;
  }
}

// Footer
.footer {
  margin-top: 6rem;
  text-align: center;

  &__links {
    list-style: none;
    display: block;
  }

  &__link-item {
    display: inline;
    padding: 1rem 0.5rem;
  }

  &__copyright,
  &__design-credit,
  &__background-img {
    padding: 1rem 0.5rem;
  }
}
